{% include 'header.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 p-3">
            <div class="row">
                {% for i in allproducts %}
                <div class="col-md-4 mb-4">
                  <div class="card" style="width: 18rem;">
                    <img src="{{i.image.url}}" width="50px" height="300px" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title">{{i.product_name}}</h5>
                      <p class="card-text">
                        {{i.description}}
                      </p>
                      <p class="card-text">
                        {{i.price}}
                      </p>
                      <a href="{% url 'cart' %}" class="btn btn-danger">Remove</a>
                      <a href="#" class="btn btn-danger">Buy Now</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3 bg-light p-3">
            <h5 class="bg-danger text-white p-2">Total Amount Section</h5>
            <p><strong>Total {{}} :</strong> Rs. {{}} </p>
            <hr>
            <p><strong>Total Amount : </strong> Rs.{{}} </p>
            <a href="#"><button>Place Order</button></a>
        </div>
    </div>
</div>
{% include 'footer.html' %}