{% include 'header.html' %}
<title>Register</title>
<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              The best offer on <br />
              <span class="text-danger">Products</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eveniet, itaque accusantium odio, soluta, corrupti aliquam
              quibusdam tempora at cupiditate quis eum maiores libero
              veritatis? Dicta facilis sint aliquid ipsum atque?
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                {% if errormessage %}
                <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                  <strong>Error!</strong> {{errormessage}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                <form method="post" action="" >
                  {% csrf_token %}
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example1" name="uname" class="form-control" />
                        <label class="form-label" for="form3Example1">User name</label>
                      </div>
  
                      <!-- Password input -->
                      <div class="form-outline mb-4">
                        <input type="password" id="form3Example4" name="passwd" class="form-control" />
                        <label class="form-label" for="form3Example4">Password</label>
                      </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example4" name="cpasswd" class="form-control" />
                    <label class="form-label" for="form3Example4">Confirm Password</label>
                  </div>
  
                  <!-- Checkbox -->
                  <div class="form-check d-flex justify-content-center mb-4">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                    <label class="form-check-label" for="form2Example33">
                      Subscribe to our newsletter
                    </label>
                  </div>
  
                  <!-- Submit button -->
                  <!-- <button type="submit" class="btn btn-danger btn-block mb-4">
                    <a class="text-white text-decoration-none"href="{% url 'registeruser' %}">Sign up</a>
                  </button> -->
                  <div class="row">
                    <div class="col mb-4">
                      <center>
                        <input type="submit" value="Log In" class="btn btn-danger btn-block">
                        <button type="button" class="btn btn-danger btn-block">
                            <a class="text-white text-decoration-none" href="{% url 'index' %}">Cancel</a>
                        </button>
                      </center>
                    </div>
                </div>                
  
                  <!-- Register buttons -->
                  <div class="text-center">
                    <p>or sign up with:</p>
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="bi bi-facebook text-danger"></i>
                    </button>
  
                    <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
<a href="{% url 'social:begin' backend='facebook' %}">Facebook</a
  
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="bi bi-twitter text-danger"></i>
                    </button>
  
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="bi bi-github text-danger"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
{% include 'footer.html' %}
